#bread__crumbs {
  margin-bottom: 5rem;
  .link {
    text-transform: capitalize;
    position: relative;
    &:not(:first-child)::before {
      content: "|";
      margin: 0 1rem;
    }

    &:not(.active) {
      opacity: 0.5;
    }
  }
}
