.discount {
    height: 35.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12rem;

    .discount__content {
        text-align: center;
        margin-bottom: 4.2rem;

        &--title {
            color: #FFF;
            font-family: Didot;
            font-size: 6.4rem;
            font-weight: 700;
            line-height: 5.2rem;
            margin-bottom: 3.6rem;
        }

        &--text {
            max-width: 44.5rem;
            width: 100%;
            color: #FFF;
            font-weight: 400;
            line-height: 2.4rem;
        }
    }
}