.main__button {
    width: 100%;
    max-width: 33rem;
    border: none;
    letter-spacing: 1px;
    color: var(--main-button-text-color);
    background: var(--main-button-bg-color);

    &:hover {
        background: var(--main-button-hover-bg-color);
    }

    &:disabled {
        background: var(--main-button-disabled-bg-color);
        cursor: not-allowed;
    }
}
