.wishlist_area {
  flex: 1;
  .wishlist {
    .wishlist__item {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-bottom: 2rem;
      &__image {
        width: 21.4rem;
        height: 15rem;
        border-radius: 1rem;
        overflow: hidden;
      }
      &__content {
        padding-top: 0.5rem;
        flex: 1;
        &__title {
          display: flex;
          justify-content: space-between;
          color: var(--main-text-color);
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 1rem;
          p {
            max-width: 33rem;
            min-width: 25rem;
            width: 100%;
          }
        }
        &__price {
          color: var(--primary, #b8926a);
          font-family: "sans-serif";
          font-size: 2rem;
          line-height: 2.8rem;
          font-weight: 700;
        }
      }

    }
  }
  .empty {
    color: var(--second-text-color);
    text-align: center;
    margin-top: 12rem;
  }
}
      @media (max-width: 794px) {
        .wishlist__item {
          position: relative;
          &__image{
            width: 100% !important;
            height: 23.3rem !important;
          }
          &__content{
            &__title{
              svg{
                position: absolute;
                top: 1rem;
                right: 1rem;

              }
            }
          }
        }
      }