.icon__button {
    border: none;
    color: var(--main-button-text-color);
    background: var(--main-button-background-color);

    &:hover {
        background: var(--main-button-hover-background-color);
    }
    &:disabled{
        background:var(--main-button-disabled-background-color);
    }
}