.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

@media (max-width: 768px) {
   .title{
         padding: 8rem 0 5rem 0;
         font-size: 3.2rem;
         line-height: 3.6rem;
         font-weight: 400;
   }
}