.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .active{
        color:var();
    }

    .navbar__list {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        
        .navbar__list--item {
            position: relative;
            a:focus:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: -6px;
                left: 0;
                width: 0%;
                background-color: red;
                transition: all 0.8s ease-in-out 0s;
            }
        }
    }
}