.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    .header__left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;

        .select {
            height: 30px;
            background-color: var(--main-background-color);
            border: 2px solid var(--main-input-border-color);
            border-radius: 5px;
        }
    }

    .header__center {
        font-family: var(--second-text-family);
        font-size: 3.6rem;
        line-height: 4rem;
    }

    .header__right {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
    }
}