.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 14rem;
    margin: 15.4rem 0 2rem;
    padding: 0 1.3rem;

    .footer__left {
        &--title {
            color: var(--main-text-color);
            font-family: Didot;
            font-size: 5.22rem;
            line-height: 5.8rem;
            margin-bottom: 2rem;
        }

        &--copyright {
            font-size: 1.2rem;
        }
    }

    .footer__right {
        display: flex;
        justify-content: space-between;

        &--desc {
            max-width: 25rem;
        }
    }
}