.button{
    background: none;
    border: 1px solid var(--second-button-border-color);
    color: var(--second-button-border-color);
    &:hover{
        color: var(--second-button-hover-border-color);
        border-color: var(--second-button-hover-border-color);
    }
    &:disabled{
        color: var(--second-button-disabled-border-color);
        border-color: var(--second-button-disabled-border-color);
    }
}

