.input-validation{
    position: relative;
    span{
        color: red;
        display: inline-block;
        margin-bottom: 1rem;
    }
    .errorsvg{
        position: absolute;
        top: 1.8rem;
        right: 1rem;
    }

}